.body
  .main#main
    .main_header
      .main_header-table
        .main_header-title
          %h1.headerTitle ONLINE BOOK SHARE
          .title-description 誰でも手軽にオンライン読者会
        .main_header-navigation
          %ul.headerUl
            %li 新規会員登録
            %li ログイン
            %li 部屋を作る
            %li 最新Bookランキング
    .main_image 
      %h2 読書好きのあなたのために
    .Explanation
      %h3 読書の３ステップを実現
      .Explanation-lists
        %ul
          %li 読む
          %li 言語化する
          %li アウトプット
    .footer



      

