.message{
  margin: 40px 60px;
}
.group_box{
  display: flex;
  border: solid;
  height: 50px;
}

.group_name{
  color: plum;
  font-size: 20px;
}
.memberLists{
  display: none;
}

.form{
  background-color: #d2d2d2;
  padding: 20px 40px;
  height: 90px;
  .new_message{
    display: flex;
    .input-box{
      position: relative;
      width: 100%;
      &__text{
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
    }
  }
}
.input-box__image{
  font-size: 1.3rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  .input-box__image__file{
    display: none;
  }
}
.form__submit{
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  background-color: #38aef0;
  color: white;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
// .fa-users{
//   color: pink;
// }