.body{
  margin: 60px 40px;
}
.main{
  max-width: 1035px;
  margin-left: auto;
  margin-right: auto;
  &_header{
    display: block;
    &-table{
      display: flex;
      width: 100%;
      &-title{
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 40px;
      }
    }
  }
}
.headerTitle{
  margin-bottom: 10px;
}
.title-description{
  color: gray;
}
.headerUl{
  display: flex;
  float: right;
  margin-left: 180px;
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main_image{
  background-image: url('cropped-nicole-honeywill-730102-unsplash.jpg');
  height: 500px;
  font-size: 30px;
  width: 1000px;
  margin-top: 30px;
  & h2{
    color: white;
    margin: 0 auto;
    text-align: center;
    padding-top: 220px;
  }
}
.main_header-navigation li{
  list-style: none;
  margin-right: 20px;
}
.Explanation{
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
  &-lists{
    font-size: 20px;
    & ul{
      display: flex;
      font-size: 50px;
      & li{
      list-style: none;
      padding-right: 50px;
      font-size: 20px;
      }
    }
  }
}
